html {
    background-image: linear-gradient(blanchedalmond,burlywood);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
h1 {
    margin: 2em;
    display: flex;
    justify-content: center;
}
header {
    display: grid;
    background-color: aquamarine;
    white-space: collapse;
    flex-wrap: wrap;
}
header a div {
    padding: 0 7em 0 4em;
}
a#about-me {
    display: flex;
    padding: 5em;
}
a#about-me h3 {
align-self: center;
}
img {
    width: clamp(325px, 60%, 300px);
    height: fit-content;
    grid-column-start: 3;
    grid-row-start: 1;
}
main {
    list-style: none;
}
section#secondBlock {
    display: flex;
    justify-content: center;
}
body h3 {
    font-size: large;
    font-weight: bold;
    color: darkblue;
}
span {
    font-style: italic;
    font-weight: 600;
}
footer {
    display: grid;
    justify-content: start;
}
.content {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    background-color: aqua;
}
section#firstBlock {
    display: flex;
    column-gap: 18em;
}
#education section {
    display: flex;
    flex-direction: row;
}
section#eduInfo {
    flex-direction: column;
}
section#eduInfo > ul {
    display: flex;
    justify-content: space-between;
    column-gap: 5em;}
ul {
    list-style: none;
}
a#skills section {
    display: flex;
    flex-direction: row;
}
#languages section {
    justify-content: center;
    display: flex;
}
a :link{
    color: blue;
}
a :visited {
    color: brown;
}